@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https: //fonts.googleapis.com/css2?family= Alegreya +Sans:ital,wght@0,300;0,400;0,700;1,400 & display=swap");
@import "./components/header.css";
@import "./components/features.css";
@import "./components/btn.css";
@import "./components/section.css";
@import "./components/benefits.css";
@import "./components/reviews.css";
@import "./components/interactive-avatar.css";
@import "./components/order-section.css";
@import "./components/form.css";
@import "./components/fixed-menu.css";
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25))), url(../img/arnaud-mesure.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.25)), url(../img/arnaud-mesure.jpg) no-repeat;
  background-size: 100vw 100vh;
  background-color: #1968B1;
  width: 100vw;
  height: 100vh;
  min-height: 640px;
  color: #fff;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 20px 0 50px 20px;
}

.hero__title-section {
  width: 35%;
}

.hero__main-title {
  font-size: 45px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 20px;
  margin-bottom: 30px;
}