$containerWidth: auto;
$baseFontSize: 18px;

//colors
$blue: #1968B1;
$darkGreen: #0b4d3c;

//normalize
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");


//setups
@import url("https: //fonts.googleapis.com/css2?family= Alegreya +Sans:ital,wght@0,300;0,400;0,700;1,400 & display=swap");
@import "layout";

//components
@import "./components/css/hero.css";
@import "./components/css/header.css";
@import "./components/css/features.css";
@import "./components/css/btn.css";
@import "./components/css/section.css";
@import "./components/css/benefits.css";
@import "./components/css/reviews.css";
@import "./components/css/interactive-avatar.css";
@import "./components/css/order-section.css";
@import "./components/css/form.css";
@import "./components/css/fixed-menu.css";
@import "./components/css/social__list.css";