.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 1.25rem;
}

.features__item {
  margin-right: 4.375rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature__icon {
  margin-right: 0.625rem;
}

.feature__text {
  font-size: 1rem;
  max-width: 5rem;
}