
.section {
    height: 100vh;
    min-height: 40rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: 2.8125rem; 
    font-weight: bold;
    margin-bottom: 3.75rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
  }
  
.headline {
    text-align: center;
      
}

.headline__title {
    margin-bottom: 3.125rem;
}

.hedline__subtitle {
    padding: 1% 22% 3% 22%;
    margin: 1.5625rem;
}
  
